<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.pig.EnterpriseMapper">

    <resultMap type="Enterprise" id="EnterpriseResult">
        <id property="id" column="f_id" />
        <result property="enterpriseName" column="f_enterpriseName" />
        <result property="creditCode" column="f_creditCode" />
        <result property="legalPerson" column="f_legalPerson" />
        <result property="contactPerson" column="f_contactPerson" />
        <result property="contactPhone" column="f_contactPhone" />
        <result property="businessLicenseUrl" column="f_businessLicenseUrl" />
        <result property="otherMaterialUrls" column="f_otherMaterialUrls" />
        <result property="isVerified" column="f_isVerified" />
        <result property="canBid" column="f_canBid" />
        <result property="hasDeposit" column="f_hasDeposit" />
        <result property="depositAmount" column="f_depositAmount" />
        <result property="paymentAmount" column="f_paymentAmount" />
        <result property="createBy" column="f_creator" />
        <result property="createTime" column="f_createTime" />
        <result property="updateBy" column="f_updator" />
        <result property="updateTime" column="f_updateTime" />
    </resultMap>

    <sql id="selectEnterpriseVo">
        select f_id, f_enterpriseName, f_creditCode, f_legalPerson, f_contactPerson, f_contactPhone, f_businessLicenseUrl, f_otherMaterialUrls, f_isVerified, f_canBid, f_hasDeposit, f_depositAmount, f_paymentAmount, f_creator, f_createTime, f_updator, f_updateTime
        from t_enterprise
    </sql>

    <select id="selectEnterpriseList" parameterType="Enterprise" resultMap="EnterpriseResult">
        <include refid="selectEnterpriseVo"/>
        <where>
            <if test="id != null">
                AND f_id = #{id}
            </if>
            <if test="enterpriseName != null and enterpriseName != ''">
                AND f_enterpriseName like concat('%', #{enterpriseName}, '%')
            </if>
            <if test="creditCode != null and creditCode != ''">
                AND f_creditCode like concat('%', #{creditCode}, '%')
            </if>
            <if test="legalPerson != null and legalPerson != ''">
                AND f_legalPerson like concat('%', #{legalPerson}, '%')
            </if>
            <if test="contactPerson != null and contactPerson != ''">
                AND f_contactPerson like concat('%', #{contactPerson}, '%')
            </if>
            <if test="contactPhone != null and contactPhone != ''">
                AND f_contactPhone like concat('%', #{contactPhone}, '%')
            </if>
            <if test="businessLicenseUrl != null and businessLicenseUrl != ''">
                AND f_businessLicenseUrl like concat('%', #{businessLicenseUrl}, '%')
            </if>
            <if test="otherMaterialUrls != null and otherMaterialUrls != ''">
                AND f_otherMaterialUrls like concat('%', #{otherMaterialUrls}, '%')
            </if>
            <if test="isVerified != null">
                AND f_isVerified = #{isVerified}
            </if>
            <if test="canBid != null">
                AND f_canBid = #{canBid}
            </if>
            <if test="hasDeposit != null">
                AND f_hasDeposit = #{hasDeposit}
            </if>
            <if test="depositAmount != null">
                AND f_depositAmount = #{depositAmount}
            </if>
            <if test="paymentAmount != null">
                AND f_paymentAmount = #{paymentAmount}
            </if>
        </where>
    </select>

    <select id="selectEnterpriseById" parameterType="Long" resultMap="EnterpriseResult">
        <include refid="selectEnterpriseVo"/>
        where f_id = #{id}
    </select>

    <insert id="insertEnterprise" parameterType="Enterprise" useGeneratedKeys="true" keyProperty="id">
        insert into t_enterprise(
            <if test="id != null and id != 0">f_id,</if>
<if test="enterpriseName != null and enterpriseName != ''">f_enterpriseName,</if>
<if test="creditCode != null and creditCode != ''">f_creditCode,</if>
<if test="legalPerson != null and legalPerson != ''">f_legalPerson,</if>
<if test="contactPerson != null and contactPerson != ''">f_contactPerson,</if>
<if test="contactPhone != null and contactPhone != ''">f_contactPhone,</if>
<if test="businessLicenseUrl != null and businessLicenseUrl != ''">f_businessLicenseUrl,</if>
<if test="otherMaterialUrls != null and otherMaterialUrls != ''">f_otherMaterialUrls,</if>
<if test="isVerified != null">f_isVerified,</if>
<if test="canBid != null">f_canBid,</if>
<if test="hasDeposit != null">f_hasDeposit,</if>
<if test="depositAmount != null">f_depositAmount,</if>
<if test="paymentAmount != null">f_paymentAmount,</if>
<if test="createBy != null and createBy != ''">f_creator,</if>
f_createTime,
        ) values (
            <if test="id != null and id != 0">#{id},</if>
<if test="enterpriseName != null and enterpriseName != ''">#{enterpriseName},</if>
<if test="creditCode != null and creditCode != ''">#{creditCode},</if>
<if test="legalPerson != null and legalPerson != ''">#{legalPerson},</if>
<if test="contactPerson != null and contactPerson != ''">#{contactPerson},</if>
<if test="contactPhone != null and contactPhone != ''">#{contactPhone},</if>
<if test="businessLicenseUrl != null and businessLicenseUrl != ''">#{businessLicenseUrl},</if>
<if test="otherMaterialUrls != null and otherMaterialUrls != ''">#{otherMaterialUrls},</if>
<if test="isVerified != null">#{isVerified},</if>
<if test="canBid != null">#{canBid},</if>
<if test="hasDeposit != null">#{hasDeposit},</if>
<if test="depositAmount != null">#{depositAmount},</if>
<if test="paymentAmount != null">#{paymentAmount},</if>
<if test="createBy != null and createBy != ''">#{createBy},</if>
sysdate(),
        )
    </insert>

    <update id="updateEnterprise" parameterType="Enterprise">
        update t_enterprise
        <set>
            <if test="enterpriseName != null and enterpriseName != ''">f_enterpriseName = #{enterpriseName},</if>
            <if test="creditCode != null and creditCode != ''">f_creditCode = #{creditCode},</if>
            <if test="legalPerson != null and legalPerson != ''">f_legalPerson = #{legalPerson},</if>
            <if test="contactPerson != null and contactPerson != ''">f_contactPerson = #{contactPerson},</if>
            <if test="contactPhone != null and contactPhone != ''">f_contactPhone = #{contactPhone},</if>
            <if test="businessLicenseUrl != null and businessLicenseUrl != ''">f_businessLicenseUrl = #{businessLicenseUrl},</if>
            <if test="otherMaterialUrls != null and otherMaterialUrls != ''">f_otherMaterialUrls = #{otherMaterialUrls},</if>
            <if test="isVerified != null">f_isVerified = #{isVerified},</if>
            <if test="canBid != null">f_canBid = #{canBid},</if>
            <if test="hasDeposit != null">f_hasDeposit = #{hasDeposit},</if>
            <if test="depositAmount != null">f_depositAmount = #{depositAmount},</if>
            <if test="paymentAmount != null">f_paymentAmount = #{paymentAmount},</if>
            <if test="updateBy != null and updateBy != ''">f_updator = #{updateBy},</if>
            f_updateTime = sysdate()
        </set>
        where f_id = #{id}
    </update>

    <delete id="deleteEnterpriseById" parameterType="Long">
        delete from t_enterprise where f_id = #{id}
    </delete>

    <delete id="deleteEnterpriseByIds" parameterType="Long">
        delete from t_enterprise where f_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
